:root.theme-dark {
    --background-clr: #000028; /* Базовый цвет фона сайта */
    --background-img: image-set(
        url("../images/cover-image-dark.avif") type("image/avif") 1x,
        url("../images/cover-image-dark@2.avif") type("image/avif") 2x,
        url("../images/cover-image-dark.webp") type("image/webp") 1x,
        url("../images/cover-image-dark@2.webp") type("image/webp") 2x,
        url("../images/cover-image-dark.png") type("image/png") 1x,
        url("../images/cover-image-dark@2.png") type("image/png") 2x
    ); /* Изображение на фоне */
    --main-text-clr: #F1B2CE; /* Основной цвет текста страницы */
    --header-decoration-icon-clr: #FF0070; /* Цвет кнопки REC в шапке сайта */
    --decorative-angle-clr: #FF0070; /* Цвет декоративных уголков для шапки и подвала */
    --button-clr: #FF0070; /* Цвет кнопки */
    --button-hover-clr: #ff007066; /* Цвет кнопки при наведении */
    --main-title-clr: #DB00FF; /* Цвет заголовка страницы (по умолчанию, без фокуса) */
    --accent-boxshadow-clr: #FF0070; /* Цвет тени для заголовка, ссылок */
    --accent-background-clr: #FF0070; /* Цвет заднего фона у отдельных заголовков страницы */
    --accent-section-title-clr: #FF0070; /* Цвет заголовков секций */
    --accent-gallery-title-clr: #000028; /* Цвет заголовка галереи */
	--accent-header-description-clr: #000028; /* Цвет описания в шапке */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-clr: #000028; /* Базовый цвет фона сайта */
        --background-img: image-set(
            url("../images/cover-image-dark.avif") type("image/avif") 1x,
            url("../images/cover-image-dark@2.avif") type("image/avif") 2x,
            url("../images/cover-image-dark.webp") type("image/webp") 1x,
            url("../images/cover-image-dark@2.webp") type("image/webp") 2x,
            url("../images/cover-image-dark.png") type("image/png") 1x,
            url("../images/cover-image-dark@2.png") type("image/png") 2x
        ); /* Изображение на фоне */
        --main-text-clr: #F1B2CE; /* Основной цвет текста страницы */
        --header-decoration-icon-clr: #FF0070; /* Цвет кнопки REC в шапке сайта */
        --decorative-angle-clr: #FF0070; /* Цвет декоративных уголков для шапки и подвала */
        --button-clr: #FF0070; /* Цвет кнопки */
        --button-hover-clr: #ff007066; /* Цвет кнопки при наведении */
        --main-title-clr: #DB00FF; /* Цвет заголовка страницы (по умолчанию, без фокуса) */
        --accent-boxshadow-clr: #FF0070; /* Цвет тени для заголовка, ссылок */
        --accent-background-clr: #FF0070; /* Цвет заднего фона у отдельных заголовков страницы */
        --accent-section-title-clr: #FF0070; /* Цвет заголовков секций */
        --accent-gallery-title-clr: #000028; /* Цвет заголовка галереи */
		--accent-header-description-clr: #000028; /* Цвет описания в шапке */
    }
}