:root.theme-light {
    --background-clr: #FFC2E6; /* Базовый цвет фона сайта */
    --background-img: image-set(
        url("../images/cover-image-light.avif") type("image/avif") 1x,
        url("../images/cover-image-light@2.avif") type("image/avif") 2x,
        url("../images/cover-image-light.webp") type("image/webp") 1x,
        url("../images/cover-image-light@2.webp") type("image/webp") 2x,
        url("../images/cover-image-light.png") type("image/png") 1x,
        url("../images/cover-image-light@2.png") type("image/png") 2x
    ); /* Изображение на фоне */
    --main-text-clr: #353430; /* Основной цвет текста страницы */
    --header-decoration-icon-clr: transparent; /* Цвет кнопки REC в шапке сайта */
    --decorative-angle-clr: #353430; /* Цвет декоративных уголков для шапки и подвала */
    --button-clr: #353430; /* Цвет кнопки */
    --button-hover-clr: #32312d66; /* Цвет кнопки при наведении */
    --main-title-clr: #FFC2E6; /* Цвет заголовка страницы (по умолчанию, без фокуса) */
    --accent-boxshadow-clr: #FF8DCB; /* Цвет тени для заголовка, ссылок */
    --accent-background-clr: #FF8DCB; /* Цвет заднего фона у отдельных заголовков страницы */
    --accent-section-title-clr: #353430; /* Цвет заголовков секций */
    --accent-gallery-title-clr: #353430; /* Цвет заголовка галереи */
	--accent-header-description-clr: #353430; /* Цвет описания в шапке */
}

@media (prefers-color-scheme: light) {
    :root {
        --background-clr: #FFC2E6; /* Базовый цвет фона сайта */
        --background-img: image-set(
            url("../images/cover-image-light.avif") type("image/avif") 1x,
            url("../images/cover-image-light@2.avif") type("image/avif") 2x,
            url("../images/cover-image-light.webp") type("image/webp") 1x,
            url("../images/cover-image-light@2.webp") type("image/webp") 2x,
            url("../images/cover-image-light.png") type("image/png") 1x,
            url("../images/cover-image-light@2.png") type("image/png") 2x
        ); /* Изображение на фоне */
        --main-text-clr: #353430; /* Основной цвет текста страницы */
        --header-decoration-icon-clr: transparent; /* Цвет кнопки REC в шапке сайта */
        --decorative-angle-clr: #353430; /* Цвет декоративных уголков для шапки и подвала */
        --button-clr: #353430; /* Цвет кнопки */
        --button-hover-clr: #32312d66; /* Цвет кнопки при наведении */
        --main-title-clr: #FFC2E6; /* Цвет заголовка страницы (по умолчанию, без фокуса) */
        --accent-boxshadow-clr: #FF8DCB; /* Цвет тени для заголовка, ссылок */
        --accent-background-clr: #FF8DCB; /* Цвет заднего фона у отдельных заголовков страницы */
        --accent-section-title-clr: #353430; /* Цвет заголовков секций */
        --accent-gallery-title-clr: #353430; /* Цвет заголовка галереи */
		--accent-header-description-clr: #353430; /* Цвет описания в шапке */
    }
}